body{
  margin: 0;
  text-align: center;
  color: #545454;
}

p{
  line-height: 1.5;
}

.Top-Container {
  padding-top: 200px;
  margin: 0;
  background: #E0EBE8;
  text-align: center;
  color: #3E9C87;
}

.head h1{
  font-family: 'Lobster', cursive;
  font-size: 5em;
  margin: 0;
}

.head p{
  /* font-size: 1em; */
  margin-top: 10px;
}

#cloud1{
  position: relative;
  top: 0px;
  left: 180px;
}

#cloud2{
  position: relative;
  bottom: 10px;
  right: 250px;
}
/* .......................................................................... */
.Hello{
  padding-top: 150px;
  padding-bottom: 150px;
  background: #E3D2FA;
  margin: 0;
}

#profile-pic{
  height: 200px;
  width: 200px;
}

h2{
  font-size: 2.5em;
}

h2 , h3{
  font-family: sans-serif;
  color: #3E9C87;
}

.Hello p{
  margin: auto;
  width: 30%;
}

/* .......................................................................... */

.skills{
  background: #F0CBC9;
  padding-top: 50px;
  padding-bottom: 100px;
  margin: 0;
}

.skill-row{
  height: 200px;
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skill-row p{
  lin
}

#gif1{
  width: 25%;
  float: left;
}

#gif2{
  width: 25%;
  float: right;
}


/* .......................................................................... */

.contact-me{
  padding: 100px;
}

.contact-me p{
  width: 40%;
  margin: 30px auto;
}

.btn{
  width: 10%;
  border: solid 1px;
  border-radius: 20px;
  color: #F3F2F1;
  padding: 10px;
  background: #3EA08A;
}

/* .......................................................................... */

.footer-link{
  padding: 50px;
  color: #11999E;
}

.Footer{
  padding: 50px;
  background: #E0EBE8;
}

.Footer p{
  margin: 30px auto;
  width: 30%;
}
